.modal--login .modal-window {
    width: 57rem;
}

.login .row {
    margin: 2rem 0;
}

.text-input--login,
.text-input--password {
    width: 100%;
    padding-right: 6.5rem;
}

.text-input--login {
    background: url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 24 24' id='Layer_1' version='1.0' viewBox='0 0 24 24' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><circle fill='#ecebe9' cx='12' cy='8' r='4'/><path fill='#ecebe9' d='M12,14c-6.1,0-8,4-8,4v2h16v-2C20,18,18.1,14,12,14z'/></svg>") no-repeat calc(100% - .8rem) 50% #fff;
    background-size: 4.5rem 4.5rem;
}

.text-input--login:focus {
    background: url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 24 24' id='Layer_1' version='1.0' viewBox='0 0 24 24' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><circle fill='#bfd6d2' cx='12' cy='8' r='4'/><path fill='#bfd6d2' d='M12,14c-6.1,0-8,4-8,4v2h16v-2C20,18,18.1,14,12,14z'/></svg>") no-repeat calc(100% - .8rem) 50% #fff;
    background-size: 4.5rem 4.5rem;
}

.text-input--login:invalid {
    background: url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 24 24' id='Layer_1' version='1.0' viewBox='0 0 24 24' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><circle fill='#ff0000' cx='12' cy='8' r='4'/><path fill='#ff0000' d='M12,14c-6.1,0-8,4-8,4v2h16v-2C20,18,18.1,14,12,14z'/></svg>") no-repeat calc(100% - .8rem) 50% #fff;
    background-size: 4.5rem 4.5rem;
}

.text-input--password {
    background: url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 24 24' height='24px' id='Layer_1' version='1.1' viewBox='0 0 24 24' width='24px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path fill='#ecebe9' clip-rule='evenodd' d='M20.002,24.001H4.014c-1.104,0-1.998-0.896-1.998-2.001V11.994  c0-1.105,0.895-2.002,1.998-2.002h0.999V6.991c0-3.868,3.132-7.004,6.995-7.004s6.995,3.136,6.995,7.004v3.001h0.999  c1.104,0,1.998,0.896,1.998,2.002V22C22,23.104,21.105,24.001,20.002,24.001z M16.005,6.991c0-2.21-1.79-4.002-3.997-4.002  S8.011,4.781,8.011,6.991v3.001h7.994V6.991z' fill-rule='evenodd'/></svg>") no-repeat calc(100% - 1.3rem) 50% #fff;
    background-size: 3.5rem 3.5rem;
}

.text-input--password:focus {
    background: url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 24 24' height='24px' id='Layer_1' version='1.1' viewBox='0 0 24 24' width='24px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path fill='#bfd6d2' clip-rule='evenodd' d='M20.002,24.001H4.014c-1.104,0-1.998-0.896-1.998-2.001V11.994  c0-1.105,0.895-2.002,1.998-2.002h0.999V6.991c0-3.868,3.132-7.004,6.995-7.004s6.995,3.136,6.995,7.004v3.001h0.999  c1.104,0,1.998,0.896,1.998,2.002V22C22,23.104,21.105,24.001,20.002,24.001z M16.005,6.991c0-2.21-1.79-4.002-3.997-4.002  S8.011,4.781,8.011,6.991v3.001h7.994V6.991z' fill-rule='evenodd'/></svg>") no-repeat calc(100% - 1.3rem) 50% #fff;
    background-size: 3.5rem 3.5rem;
}

.text-input--password:invalid {
    background: url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 24 24' height='24px' id='Layer_1' version='1.1' viewBox='0 0 24 24' width='24px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path fill='#ff0000' clip-rule='evenodd' d='M20.002,24.001H4.014c-1.104,0-1.998-0.896-1.998-2.001V11.994  c0-1.105,0.895-2.002,1.998-2.002h0.999V6.991c0-3.868,3.132-7.004,6.995-7.004s6.995,3.136,6.995,7.004v3.001h0.999  c1.104,0,1.998,0.896,1.998,2.002V22C22,23.104,21.105,24.001,20.002,24.001z M16.005,6.991c0-2.21-1.79-4.002-3.997-4.002  S8.011,4.781,8.011,6.991v3.001h7.994V6.991z' fill-rule='evenodd'/></svg>") no-repeat calc(100% - 1.3rem) 50% #fff;
    background-size: 3.5rem 3.5rem;
}

.nav {
    display: flex;
    justify-content: flex-end;
}