.product {
    position: relative;
    margin: 2rem 0;
    padding: 2rem;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAD1BMVEXt7Ovr6ung393f393g3ttQbHguAAAAWklEQVQoz+2Q2wnAMAwDpQ3cxwIZISN0/6WqFjVOaEbIx3EgIxAGwELReQ/gjGYfk3gOwn5D8korHEFFsAL8DIVHD9wutnDb/u9QuIlIt7Y92wGa+Y71j3HHDXrkEzVxnkPSAAAAAElFTkSuQmCC') #edeceb;
    overflow: hidden;
}

.product-image {
    position: relative;
    float: left;
    width: calc(50% - 2rem);
    margin-right: 2rem;
}

.product-image__rating {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: .4rem 2rem .3rem 2rem;
    background-color: rgba(0, 0, 0, .75);
}

.product-details {
    overflow: hidden;
    padding-bottom: 5rem;
}

.product-title {
    margin: 0 0 1.5rem 0;
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 1.2rem;
    border-bottom: .2rem solid #2bbbc1;
}

.product-description {
    margin: 1.5rem 0;
    font-size: 1.6rem;
}

.product__nav {
    position: absolute;
    left: 50%;
    bottom: 1.5rem;
    width: calc(50% - 2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0 0 0;
    border-top: .1rem solid #cdcdcd;
}

.product__price {
    font-size: 2.4rem;
    font-weight: bold;
}

.product__currency {
    color: #288575;
}

.product__sold-out {
    font-size: 1.6rem;
    color: #bf0000;
}

.product__sold-out::before {
    content: "(";
    color: #000000;
}

.product__sold-out::after {
    content: ")";
    color: #000000;
}

.product__left {
    font-size: 1.6rem;
    font-weight: normal;
}

.product__left::before {
    content: "(";
    color: #000000;
}

.product__left::after {
    content: ")";
    color: #000000;
}

.product__admin {
    margin-top: 1.5rem;
}

.modal--delete .modal-window,
.modal--buy .modal-window,
.modal--edit .modal-window{
    width: 73rem;
}

.modal--delete .modal__header,
.modal--buy .modal__header,
.modal--edit .modal__header {
    text-align: left;
}

/* admin edit product modal */
.edit-product {
    overflow: hidden;
}

.edit-product__column {
    float: left;
    width: 50%;
}

.edit-product__column:first-child {
    padding-right: 1.3rem;
}

.edit-product__column:last-child {
    padding-left: 1.3rem;
}

.edit-product__item {
    margin: 1.8rem 0;
    font-size: 1.6rem;
}

.edit-product__label {
    display: block;
    margin-bottom: .3rem;
}

.edit-product__item .text-input {
    width: 100%;
    margin: 0;
}

.edit-product__item .select {
    width: 100%;
}

.edit-product__item .textarea {
    width: 100%;
    height: 21.5rem;
}

.edit-product__item label,
.edit-product__item select {
    width: 100%;
}

.edit-product__image {
    border: 1px solid #fff;
}

@media screen and (max-width: 800px) {
    .product-image {
        float: none;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .product-details {
        width: 100%;
    }

    .product__nav {
        left: 2rem;
        width: calc(100% - 4rem);
    }
}